[uwsgi]

module = digital_animals.wsgi

chdir = /project/root/directory
home =  /project/virtualenvs/directory

master = true
processes = 4

max-requests = 1000

socket = /tmp/digital-animals.in.ua.sock
stats = /tmp/digital-animals.in.ua.stats.sock

harakiri = 30

vacuum = true

disable-logging = True

uid = www-data
gid = www-data

chmod-socket = 664
